@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');

body {
  width: 100%;
  padding: 10px 0.5% 0px 0.5%;
  background: transparent;
  float: left;
  position: fixed;
  font-family: 'Exo 2', sans-serif;
  font-size: 30px;
}

#text {
	font-size: 60%;
	color: gray;
	padding-right: 3%;
}

#logo a {
	color: black;
	text-decoration-line: none;
}

#logo a:active {
	color: white;
	background-color: #75c1ff;
	}

#about {
	margin: 20px 10px;
	padding: 10px 0px;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
}

#about a {
	color: gray;
	text-decoration-line: none;
	padding: 10px;
}

#about a:hover {
	color: white;
	background-color: #cccccc;
}

#about a:active {
	color: white;
	background-color: #75c1ff;
}

#znaki {
	padding-bottom: 1cm;
	margin: 20px 10px;
	font-size: 80%;
}

#znaki a {
	color: gray;
	text-decoration-line: none;
	padding: 10px;
}

#znaki a:hover {
	color: white;
	background-color: #cccccc;
}

#znaki a:active {
	color: white;
	background-color: #75c1ff;
}
